
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        li {
            float: left;
            padding: 10px
        }
    </style>
</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Login", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul style="display: inline; ">
                    <li>
                        @using (Html.BeginForm("Index", "Main", FormMethod.Post))
                        {
                            <input class="btn btn-default" type="submit" value="Atgal i pagrindini">
                        }
                    </li>
                    <li>
                        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                        {
                            <input class="btn btn-default" type="submit" value="Back to login">
                        }
                    </li>


                    <li>
                        @if (@Session["rights"] == "Admin" || @Session["rights"] == "Sandelininkas")
                        {
                            using (Html.BeginForm("Index", "Produktas", FormMethod.Post))
                            {
                                <input class="btn btn-default" type="submit" value="Products">
                            }
                        }

                    </li>
                    <li>
                        @if (@Session["rights"] == "Admin" || @Session["rights"] == "Valdytojas")
                        {
                            using (Html.BeginForm("Index", "Darbuotojas", FormMethod.Post))
                            {
                                <input class="btn btn-default" type="submit" value="Workers">
                            }
                        }

                    </li>
                    <li>
                        @if (@Session["rights"] == "Admin" || @Session["rights"] == "Klientas")
                        {
                            using (Html.BeginForm("Index", "Korteles", FormMethod.Post))
                            {
                                <input class="btn btn-default" type="submit" value="Cards">
                            }
                        }
                    </li>
                    <li>
                        @if (@Session["rights"] == "Admin" || @Session["rights"] == "Kasininkas")
                        {
                            using (Html.BeginForm("Index", "Cashier", FormMethod.Post))
                            {
                                <input class="btn btn-default" type="submit" value="Cashier">
                            }
                        }

                    </li>
                    <li>
                        @if (@Session["rights"] == "Admin" || @Session["rights"] == "Sandelininkas")
                        {
                            using (Html.BeginForm("Index", "Produkto_specifikacija", FormMethod.Post))
                            {
                                <input class="btn btn-default" type="submit" value="Specification">
                            }
                        }

                    </li>
                    <li>
                        @if (@Session["rights"] == "Admin" || @Session["rights"] == "Sandelininkas")
                        {
                            using (Html.BeginForm("Index", "Menesio_prognoze", FormMethod.Post))
                            {
                                <input class="btn btn-default" type="submit" value="Prognoze">
                            }
                        }

                    </li>
                    <li>
                        @if (@Session["rights"] == "Admin")
                        {
                            using (Html.BeginForm("Index", "Prisijungimas", FormMethod.Post))
                            {
                                <input class="btn btn-default" type="submit" value="Prisijungimas">
                            }
                        }

                    </li>
                    <li>
                        <div style="color:white;">
                            Prisijunges: @Session["user"]
                        </div>
                        <div style="color:white;">
                            Teisės: @Session["rights"]
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
