@model IEnumerable<ProjectParduotuve.Models.Uzsakymas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Darbuotojas.Vardas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kortele.Vardas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vieta.Pavadinimas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Darbuotojas.Vardas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kortele.Vardas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vieta.Pavadinimas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_Uzsakymas }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_Uzsakymas }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_Uzsakymas })
        </td>
    </tr>
}

</table>
