@model Dictionary<string,object>

@{
    ViewBag.Title = "Index";
}

<h2>Main page</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Username</dt>
        <dd>@Session["user"]</dd>

        <dt>Pasword</dt>
        <dd>@Session["password"]</dd>

        <dt>Rights</dt>
        <dd>@Session["rights"]</dd>
    </dl>
</div>
<div>


        <div style="color:white;">
            Prisijunges: @Session["user"]
        </div>
        <div style="color:white;">
            Teisės: @Session["rights"]
        </div>
 








    @if (Session["rights"] == "stuff")
    {
        <div>
            aaiodfnv
        </div>
    }
    @using (Html.BeginForm("Index", "Cashier", FormMethod.Post))
    {
        <input type="submit" value="Cashier">
    }
</div>
