@model System.Web.Mvc.FormCollection

@{
    ViewBag.Title = "Index";
}

<h2>Main page</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@Html.DisplayFor(Model => Model["name"])</dd>

        <dt>Pasword</dt>
        <dd>@Html.DisplayFor(Model => Model["password"])</dd>

        <dt>Rights</dt>
        <dd>@Html.DisplayFor(Model => Model["rights"])</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Products", "Index", "Main",new { fc = Model } ,null)
    @Html.ActionLink("Workers", "Index", "Main", new { fc = Model }, null)
    @Html.ActionLink("Workers", "Index", "Main", new { fc = Model }, null)
    @Html.ActionLink("Workers", "Index", "Main", new { fc = Model }, null)

    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")*@
</p>
