@model ProjectParduotuve.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pagaminimoData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pagaminimoData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pardavimoData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pardavimoData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.galiojimoData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.galiojimoData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kiekis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kiekis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.busena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.busena)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
