@model IEnumerable<ProjectParduotuve.Models.ProductSpec>

@{
    ViewBag.Title = "SpecIndex";
}

<h2>SpecIndex</h2>

<p>
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("Create New", "SpecCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.count)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.count)
        </td>
        <td>
            @Html.ActionLink("Edit", "SpecEdit", new {id=item.id}) |
            @Html.ActionLink("Details", "SpecDetails", new {id=item.id }) |
            @Html.ActionLink("Delete", "SpecDelete", new { id=item.id})
        </td>
    </tr>
}

</table>
