@model ProjectParduotuve.Models.DarbuotojoMenesioAtaskaita

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DarbuotojoMenesioAtaskaita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.metai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.menuo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.menuo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dirbaNuoH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dirbaNuoH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dirbaIkiH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dirbaIkiH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.darboDienos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.darboDienos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atlyginimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atlyginimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pelnas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pelnas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pareigos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pareigos)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
