@model IEnumerable<ProjectParduotuve.Models.DarbuotojoMenesioAtaskaita>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.metai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menuo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dirbaNuoH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dirbaIkiH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.darboDienos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.atlyginimas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pelnas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pareigos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.metai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menuo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dirbaNuoH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dirbaIkiH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.darboDienos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.atlyginimas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pelnas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pareigos)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
