@model IEnumerable<ProjectParduotuve.Models.Worker>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vardas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pavarde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.elPastas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dirbaNuo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dirbaIki)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pareigos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aktyvus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vardas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pavarde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.elPastas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefonas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dirbaNuo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dirbaIki)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pareigos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aktyvus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
