@model ProjectParduotuve.Models.Kortele

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kortele</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vardas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vardas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pavarde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pavarde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.El_pastas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.El_pastas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefonas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefonas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Galioja_iki)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Galioja_iki)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Galioja_nuo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Galioja_nuo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aktyvus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aktyvus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prisijungimas.Vardas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prisijungimas.Vardas)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_Kortele }) |
    @Html.ActionLink("Back to List", "Index")
</p>
